.confirmed-page {
    display: flex;
    flex-wrap: wrap;
    background-color: #e6f5ff;
    color: #333;
    font-family: Verdana, sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
}

.column {
    flex: 1 0 50%;
    padding: 10px;
}

.name-font {
    font-family: Verdana, sans-serif;
}
