form {
    max-width: 300px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    position: relative;
    box-sizing: border-box;
}

    form:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0.5;
        z-index: -1;
    }

input,
button {
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 1em;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
    margin-bottom: 0;
}
